{
  "openapi": "3.1.0",
  "info": {
    "title": "Choovie Reporting API",
    "description": "This API is developed to fulfill Choose Entertainment PTY Ltd. Reporting requirements.",
    "license": { "name": "MIT" },
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.automationhub.one/api:ZHV32H3S" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "Booking": {
        "type": "object",
        "properties": {
          "itemsReceived": { "type": "integer" },
          "curPage": { "type": "integer" },
          "nextPage": { "type": ["integer", "null"] },
          "prevPage": { "type": ["integer", "null"] },
          "offset": { "type": "integer" },
          "perPage": { "type": "integer" },
          "itemsTotal": { "type": "integer" },
          "pageTotal": { "type": "integer" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": { "type": "string", "description": "Combination of season and year (e.g., winter_2025)" },
                "id": { "type": "string", "description": "Unique Booking internal ID from the provider" },
                "provider": { "type": "string" },
                "service": { "type": "string" },
                "cinema": { "type": "string" },
                "cinema_group": { "type": "string" },
                "session": { "type": "string", "format": "date-time", "description": "Confirmed or proposed session time" },
                "movie": { "type": "string" },
                "product": { "type": "string" },
                "total_children": { "type": "integer" },
                "total_carer": { "type": "integer" },
                "total_rev_excl_gst_est": { "type": "number" },
                "total_rev_incl_gst_est": { "type": "number" },
                "total_cost_est": { "type": "number" }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/bookings": {
      "get": {
        "description": "Returns all bookings from the system.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": { "type": "integer", "format": "int32", "minimum": 1 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of results to skip for pagination",
            "schema": { "type": "integer", "format": "int32", "minimum": 0 }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (inclusive)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (inclusive)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "season",
            "in": "query",
            "description": "Season of the year",
            "schema": { "type": "string", "enum": ["winter", "spring", "summer", "autumn"] }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Year to query",
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Booking" } }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "description": "Generates an authentication token.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email", "description": "API user email" },
                  "password": { "type": "string", "description": "API user password" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string", "description": "Bearer token" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  }
}
