{
  "openapi": "3.1.0",
  "info": {
    "title": "Choovie Reporting API",
    "description": "This API is developed to fulfill Choose Entertainment PTY Ltd. Reporting requirements.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.automationhub.one/api:ZHV32H3S"
    }
  ],
  "security": [
    {
      "bearerAuth": [
        "Authorization: Bearer {{access_tolen}}"
      ]
    }
  ],
  "paths": {
    "/reporting/bookings": {
      "get": {
        "description": "Returns all bookings from the system.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            {
            "name": "offset",
            "in": "query",
            "description": "The number of results to skip for pagination purposes",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            {
            "name": "from",
            "in": "query",
            "description": "The starting date for which we want to get bookings from",
            "schema": {
              "type": "string",
              "format": "DD/MM/YYYY"
            },
            {
            "name": "to",
            "in": "query",
            "description": "The ending date for which we want to get bookings",
            "schema": {
              "type": "string",
              "format": "DD/MM/YYYY",
            {
            "name": "from",
            "in": "query",
            "description": "The starting date for which we want to get bookings from",
            "schema": {
              "type": "string",
              "format": "DD/MM/YYYY"
            }YYYY"
            },
            {
            "name": "season",
            "in": "query",
            "description": "The season of the year for which we want to get bookings from. Can be any value from winter, spring, summer or autumn",
            "schema": {
              "type": "enum",
              "format": "text"
            },
            {
            "name": "year",
            "in": "query",
            "description": "The year for which we want to get bookings for",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bookings Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/booking"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}